<html>

	<head>
		<style>
			@page {
				size: a4 portrait;
				@frame header_frame {           /* Static Frame */
					-pdf-frame-content: header_content;
					left: 50pt; width: 512pt; top: 50pt; height: 40pt;
				}
				@frame content_frame {          /* Content Frame */
					left: 50pt; width: 512pt; top: 90pt; height: 632pt;
				}
				@frame footer_frame {           /* Another static Frame */
					-pdf-frame-content: footer_content;
					left: 50pt; width: 512pt; top: 772pt; height: 20pt;
				}
			}
		</style>
	</head>
	{% load static%}
	<body>
		<!-- Content for Static Frame 'header_frame' -->
		<table style="width:100%">
			<tbody>
				<tr>
					<td scope="row" style=" text-align: left;">
						<div id="header_content">
							<u><h1>Suivi Frais Exploitation</h1></u>
						</div>
					</td>
					<td>Date : {{texts.date_demande}}</td>
					<td></td>
					<td></td>
					<td></td>
					<td class="header_content"><img src="{% static 'polls/images/LogogroupeCentaure.png' %}" alt="Image" border="0" width="210px" height="90px"></td>
				</tr>
				<tr>
					<td>
						Numéro de relevé:
					</td>
					<td scope="row">
						<div>
							 <b>{{texts.num_releve}}</b>
						</div>
					</td>
					<td></td>
					<td>Code chauffeur:</td>
					<td> <b>{{texts.chauffeur.code_matricule}}</b></td>
				</tr>
				<tr>
					<td>
						Nom chauffeur: 
					</td>
					<td>
						<b>{{texts.chauffeur.nom_prenom}}</b>
					</td>
					<td></td>
					<td>Code remorque:</td>
					<td><b>{{texts.code_remorque}}</b></td>

				</tr>
			</tbody>
		</table>
		
		

		<!-- Content for Static Frame 'footer_frame' -->
		<div id="footer_content">(c) - page <pdf:pagenumber>
			sur <pdf:pagecount>
		</div>

		<!-- HTML Content -->
		<table>
				<tr>
				
					<td>Code véhicule</td>
					<td><b>{{texts.code_vehicule}}</b></td>
					<td></td>
					<td>Imat. véhicule</td>
					<td><b>{{texts.imat_vehicule}}</b></td>
					<td></td>
				</tr>
				<tr>
					<td>Imat. remorque</td>
					<td><b>{{texts.imat_remorque}}</b></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
				</tr>
				
		</table>

		<hr>

		<table>
			<tr>
	
				<td><b>Date de frais</td></b>
				<td><b>Code Activité</td></b>
				<td><b>Libelle</td></b>
				<td><b>Quantité</td></b>
				<td><b>Prix unitaire</td></b>
				<td><b>Prix Total</td></b>
			</tr>
			<tr>
	
				<td>{{texts.date_frais}}</td>
				<td>{{texts.code_activite}}</td>
				<td>{{texts.libelle_activite}}</td>
				<td>{{texts.quantite}}</td>
				<td>{{texts.pu}}</td>
				<td>{{texts.total}}</td>
			</tr>
			<tr>
	
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
	
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>

		<hr>

		<p><strong>Total: {{texts.total}}</strong></p>
		<hr>
		<p><strong>Motif: {{texts.motif}}</strong></p>
		


	</body>
</html>