{% extends 'base.html' %} {% include static %} {% block content %}
<div class="row">
{% load crispy_forms_tags %}
  
    <div class="row">
    <div class="col-md-6">
     <form class="user needs-validation" method="POST" > {% csrf_token %}

                      {{ form | crispy }}


                    <button href="#" type="submit" class="btn btn-primary btn-user btn-block" style="width: 50%; margin: 0 auto;
    display: block;">
                      Valider
                    </button>
                    <br>

                  </form>

    </div>

    <div class="col-md-6">
     <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
              <h4 class="m-0 font-weight-bold text-primary" style="text-align: center">Information sur la demande de frais num {{ result.id }}</h4>
              <br>
              <p> <strong>Date de demande :</strong> {{ result.date_demande }}</p>
              <p> <strong>Chauffeur :</strong> {{ result.chauffeur.nom_prenom }} {{result.chauffeur.code_matricule}}</p>
              <p> <strong>Numéro de relevé : </strong>{{ result.id }}</p>
              <p> <strong>Date de frais : </strong> {{ result.date_frais }}</p>
              <p> <strong>Code Activité : </strong>{{ result.code_activite }}</p>
              <p><strong> Libelle : </strong> {{ result.libelle_activite }}</p>
              <p><strong> Demandeur : </strong> {{ result.created_by }}</p>
              <p> <strong>MOTIF : </strong> {{ result.motif }}</p>
              <p><strong> Quantité : </strong>{{ result.quantite }}</p>
              <p><strong> Prix unitaire : </strong>{{ result.pu }}</p>
              <p><strong> Total : </strong>{{ result.total }}</p>
              <p><strong> Urgence : </strong>{{ result.urgence }}</p>
              <p><strong> Statut : </strong>{{ result.traite }}</p>
              <p><strong> A rembourser : </strong>{{ result.a_rembourser }}</p>
          </div>
     </div>

    </div>



{% endblock %}
